@font-face {
    font-family: 'MontserratUltraLight';
    src: url('../fonts/montserrat-ultralight.eot');
    src: url('../fonts/montserrat-ultralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-ultralight.woff2') format('woff2'),
         url('../fonts/montserrat-ultralight.woff') format('woff'),
         url('../fonts/montserrat-ultralight.ttf') format('truetype'),
         url('../fonts/montserrat-ultralight.svg#montserratultra_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Montserrat', sans-serif;
}

svg {fill:currentColor}

#container{
	max-width: 1080px;
	margin: 0 auto;
}
.fondo-negro{
	background-color: #000;
	overflow: auto;
}
.fondo-negro p{
	margin: 5px 0;
	color:#fff; 
}
.banner{
	background: url(../images/banner.svg) no-repeat center center;
	background-size: 180px 43px;
	height: 50px;
}
.banner h4{
	font-size: .8em;
	font-family: 'MontserratUltraLight';
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	padding: 12px 0 0 5px;
}
.manos{

	height: 100px;
}
.manos h4{
	font-size: 2em;
	font-family: 'Montserrat';
	text-align: center;
	color: #000;
	text-transform: uppercase;
	padding: 12px 0 0 5px;
}
.manos h4 img{
	vertical-align: text-bottom;
}
h5{
	border-bottom: 1px solid #000;
    margin: 20px auto;
    padding-bottom: 10px;
    text-align: center;
    width: 66%;
}
.hideme
{
    opacity:0;
}
/* COMUNES =================================
  ===============================================*/
input.form-control{
 width: 98%;
 height: 40px;
 font: 1.2em 'MontserratUltraLight', sans-serif; ;
 margin: 5px 0 10px 0;
 border: none;
 border-bottom: 1px solid #F2E55B;
}
textarea {
  background: url(images/none.png) center center no-repeat; /* This ruins default border */
   width: 98%;
 height: 40px;
 font: 1.2em 'MontserratUltraLight', sans-serif; ;
 margin: 5px 0 10px 0;
 border: none;
 border-bottom: 1px solid #F2E55B;
}
.btn {
	border: 1px solid #93b634;
	background-color: transparent;
	color: #93b634;
	padding: 7px 15px;
	font-size: 1.2em;
	font-family: 'MontserratUltraLight', sans-serif; 
	text-align: center;
	transition: all .1s ease;
	text-decoration: none;
}
.btn:hover {
    box-shadow:0px 1px 3px rgba(0,0,0,.9);
    background-color: #93B634;
    color: #fff;
   }
.btn:active {
    box-shadow:0px 0px 0px rgba(0,0,0,.9);
   }
.botonera{
	margin: 40px 0 20px 0
}
   
/* ESTRUCTURA =================================
  ===============================================*/
 
.fila{
	display: block;
}
.dosCol{
	width: 50%;
	float: left;
}
.tresCol{
	width: 33.333%;
	float: left;
}

.contenido-centrado{
	text-align: center;
	font-size: .8em;
}
/* CABECERA =================================
  ===============================================*/

#cabecera{
	margin-top: 30px;
	padding-left: 20px;
	text-align: center;
}
#cabecera h1{
	margin: 0
}
#cabecera p{
	margin: 0;
	font-family: 'Pacifico', cursive;
}
.emotic-box{
	width: 32px;
	height: 32px;
}

#menu-navegacion{
	border-color: #000 -moz-use-text-color;
    border-style: solid none double;
    border-width: 5px 0 15px;
    box-sizing: content-box;
    content: "";
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 6px;
    padding: 0;
    position: absolute;
    right: 42px;
    top: 42px;
    width: 35px;
}

#menu-navegacion ul{
	display: none;
}

/* CONTENIDO =================================
 ===============================================*/

#imagen-personal{
	position: relative;
}
#imagen-personal h2.big{
	width:50%;
	font-size:6em;
	text-align:center;
	margin:0;
	font-family: 'Kanit', sans-serif;
	line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}
#imagen-personal h2.small{
	width:50%;
	font-size:2em;
	text-align:center;
	margin:0;
	font-family: 'Kanit', sans-serif;
	line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-left: 20px;
}
#imagen-personal span.spy{
color: #f2e55b;
font-family: 'Pacifico', cursive;
font-size:3em;
position: absolute;
z-index:10;
left:-7px;
top:17px;
}
#imagen-personal span.sps{
color: #f2e55b;
font-family: 'Pacifico', cursive;
font-size:3em;
position: absolute;
z-index:11;
right:-41px;
top:11px;
}
#imagen-personal .div-gafas{
	margin: 0 auto;
	width: 227px;
	position: relative;
}
#imagen-personal h3{
	font-size: 3em;
    font-weight: 100;
    letter-spacing: -3px;
    margin: 0 auto;
    width: 55%;
    font-family: 'Bree Serif', serif;
    background: url(../images/subrayado.svg) no-repeat 3px 10px;
}
#imagen-personal h2 strong, #imagen-personal h3 strong{
	font-family: 'Montserrat';
	font-weight: bold;
}
.imagen-victor{
	width:250px;
	height:400px;
	margin: 0 auto;
}
.imagen-victor img {
	height:400px;
  position:absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.imagen-victor img.bottom {
  opacity:0;
}
.imagen-victor.top img.bottom {
  opacity:0;
}
.imagen-victor.bottom img.bottom {
  opacity:1;
}

/* HABILIDADES ------------------------------*/

.circulos:before,.circulos:after {content: " "; display: block;}

.circulos:after {
	clear: both;
	}       
.circulos {
	*zoom: 1;
	 width: 60%; 
	 margin: 50px 
	 auto
}
.circulos.cincuenta{
	width: 56%
	}       
.circulos .titulo{
  	font-size: .15em;
  	text-align: center;
  	top:-35px;
  	position: absolute;
  	width: 100%;
  }
  
/* POST -------------------------------------*/

#last-post{
	background-color: #f2e55b;
	text-align: center;
	padding: 15px;
}
#last-post h2{
	font-family: 'MontserratUltraLight', sans-serif;
	font-weight: normal;
	font-size: 2em;
}
#tags{
	margin-bottom: 25px;
}
#tags span{
	margin: 0 10px;
	font-family: 'MontserratUltraLight', sans-serif;
}
#last-post p{
	width: 60%;
	margin: 0 auto;
}

/* PORTFOLIO -----------------------------------*/
#portfolio{
	
}
.cliente{
	
}
.cliente .botonera{
	text-align: center;
	margin: 0px;
	padding: 20px 0;
	height:42px;
	background-color: rgba(255,255,255,0.7);
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.cliente .botonera .btn {
	border: 1px solid #fff;
	color: #fff;
	padding: 7px 15px;
}
.cliente .botonera a.btn {
	text-decoration: none;
}
.cliente .botonera .btn svg {
	width: 24px;
	height: 24px;
	margin: -4px 0 0 10px;
    vertical-align: middle;
}
.cliente .botonera .btn:hover {
	border: 1px solid #93b634;
}
.cabecera-cliente{
	height:40px;
	padding: 15px;
	text-align: center;
	background-color: #fff;
	background-color: rgba(255,255,255,0.9);
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.cabecera-cliente img{
	
}
.contenido-cliente{
	height:98px;
	padding: 55px 15px 15px;
	background-color: rgba(255,255,255,0.7);
    opacity: 0.0;
    color:#fff;
    text-align:center;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.contenido-cliente p, .contenido-cliente strong{
	margin: 0px;
	opacity: 0;
    transform: translateY(10px) scale(0.9);
    transform-origin: right bottom 0;
    transition: transform 0.8s ease 0.1s, opacity 0.8s ease 0.1s;
}
.contenido-cliente strong{
	display: block;
}
.andbank{
    background-image: url('../images/AndbankMockup.png');
    background-position: top left !important;
    background-color: #b9c1c3;
}
.andbank .contenido-cliente{
	color: #000;
}
.andbank .botonera .btn {
	border: 1px solid #000;
	color: #000;
	padding: 7px 15px;
}
.andbank .botonera .btn:hover {
	border: 1px solid #93b634;
	color: #fff;
}
.ferrovial{
    background-image: url('../images/FerrovialMockup.png');
    background-position: top right !important;
}
.ferrovial .cabecera-cliente{
	background-color: rgba(220,181,42,0.9);
}
.ferrovial .contenido-cliente, .cliente .ferrovial .botonera{
	background-color: rgba(220,181,42,0.7);
}
.uria{
    background-image: url('../images/UriaMockup.png');
    background-position: right top !important;	
}
.uria .cabecera-cliente{
	background-color: rgba(58,102,168,0.9);
}
.uria .contenido-cliente, .cliente .uria .botonera{
	background-color: rgba(58,102,168,0.7);
}
.telefonica-digital{
    background-image: url('../images/TelefonicaMockup.png');
    background-position: bottom left !important;	
}
.telefonica-digital .cabecera-cliente{
	background-color: rgba(0,49,69,0.9);
}
.telefonica-digital .contenido-cliente, .cliente .telefonica-digital .botonera{
	background-color: rgba(0,49,69,0.7);
}
.ing{
    background-image: url('../images/IngMockup.png');
    background-position: bottom left !important;	
}
.ing .cabecera-cliente{
	background-color: rgba(255,102,0,0.9);
}
.ing .contenido-cliente, .cliente .ing .botonera{
	background-color: rgba(255,102,0,0.7);
}
.vips{
    background-image: url('../images/VipsMockup.png');
    background-position: top left !important;	
}
.vips .cabecera-cliente{
	background-color: rgba(221,26,44,0.9);
}
.vips .contenido-cliente, .cliente .vips .botonera{
	background-color: rgba(221,26,44,0.7);
}

.hover-zoom {
   height: 320px;
   width: 100%;
  -webkit-transition: all 4s ease-in-out;
          transition: all 4s ease-in-out;
  background-size: auto 107%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.hover-zoom:hover, .hover-zoom:focus, .hover-zoom:active, .hover-zoom.hover-effect {
  background-size: auto 120%;
}
.hover-zoom:hover .cabecera-cliente, .hover-zoom:hover .contenido-cliente, .hover-zoom:hover .botonera,
.hover-zoom:focus .cabecera-cliente, .hover-zoom:focus .contenido-cliente, .hover-zoom:focus .botonera,
.hover-zoom:active .cabecera-cliente, .hover-zoom:active .contenido-cliente, .hover-zoom:active .botonera,
.hover-zoom.hover-effect .cabecera-cliente, .hover-zoom.hover-effect .contenido-cliente, .hover-zoom.hover-effect .botonera{
	opacity: 1.0;
}
.hover-zoom:hover .contenido-cliente p, .hover-zoom:hover .contenido-cliente strong,
.hover-zoom:focus .contenido-cliente p, .hover-zoom:focus .contenido-cliente strong,
.hover-zoom:active .contenido-cliente p, .hover-zoom:active .contenido-cliente strong,
.hover-zoom.hover-effect .contenido-cliente p, .hover-zoom.hover-effect .contenido-cliente strong {
    opacity: 1;
    transform: translateY(0px) scale(1);
}
.hover-zoom.hover-effect .contenido-cliente p, .hover-zoom.hover-effect .contenido-cliente strong {
    font-size: 3em !important;
}
/* CONTACTO --------------------------*/

#contacto{
	text-align: center;
	padding: 20px 0;
	clear: both;
}
#contacto p{
	width: 50%;
	margin: 15px auto;
}
#contacto #formulario{
	width: 50%;
	margin: 15px auto;
}
/* PIE --------------------------------*/
footer p{
	text-align: center;
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 550px) 
and (max-width : 1024px) {

/* Styles */

#imagen-personal h3{
	text-align: center;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, 0) url("../images/subrayado2.svg") no-repeat scroll center center;
    width: 70%;
}

.tresCol{
	width: 50%;
	float: left;
}

.circulos {
	 width: 52%; 
}
.circulos.cincuenta{
	margin: 50px auto 0;
}

#imagen-personal h2.big{
	width:70%;
}
#imagen-personal h2.small{
	width:66%;
}

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-width : 549px) {
	
/* Styles */
#imagen-personal h2{
	width:100%;
	bottom: 120px;
	text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.7);
}
#imagen-personal h3{
	text-align: center;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, 0) url("../images/subrayado2.svg") no-repeat scroll center center;
    width: 70%;
}
.tresCol{
	width: 100%;
	float: left;
}
#contacto #formulario {
    margin: 15px auto;
    width: 80%;
}
#contacto p {
    margin: 15px auto;
    width: 100%;
}
.circulos, h5, .circulos.cincuenta  {
	 width: 85%; 
}
.circulos.cincuenta{
	margin: 50px auto 0;
}
#imagen-personal h2.big {
    font-size: 5em;
}
#imagen-personal h2.big{
	width:auto;
}
#imagen-personal h2.small{
	width:66%;
}
.manos h4 {
    font-size: 1.5em;
}
}

